* {
    margin: 0;
    padding: 0;
}

body {
    background: #0061b5;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    /* background-color: rgb(25, 47, 79);
    color: rgb(180, 180, 180); */
}

#venue_select_modal {
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #0061b5;
    color: white;
    z-index: 999;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 4rem;
}

#venue_select_btn_container {
    max-width: 50%;
    max-height: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: center;
    align-items: center;
}

.venue_select_btn {
    width: 110px;
    height: 110px;
    background-color: rgb(40, 75, 124);
    color: white;
    outline: solid 1px white;
    border: none;
    line-height: 20px;
}

.venue_select_btn:hover {
    background-color: white;
    color: black;
    outline-color: black;
}

#change_venue_btn {
    background-color: rgb(40, 75, 124);
    color: white;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    gap: 9.5rem;
    max-width: 420px;
    position: relative;
    font-size: 1.5rem;
    top: 20px;
    border: 1px solid white;
    padding: 1rem;
}

#change_venue_btn:hover {
    background-color: black;
    cursor: pointer;;
}

#page-container {
    position: relative;
    top: 20px;
    width: 100%;
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 8rem;
    align-items: center;
}

h3 {
    display: flex;
    flex-direction: row;
    color: white;
    gap: 8rem;
    font-size: 2rem;
    margin: 0 auto;
}

#container_div {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 70%;
    height: 80%;
}

#list_div_left, #list_div_right {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 2rem;
}

#src_list_container, #dst_list_container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.src_text_btn, .dst_text_btn {
    font-size: 1.5rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    justify-content: center;
    align-items: center;
    padding: 0.5rem 4rem;
    background-color: rgb(40, 75, 124);
    /* border: 1px solid white; */
    color: rgb(255, 255, 255);
    height: 90px;
}

.src_text_btn:hover, .dst_text_btn:hover {
    background-color: white !important;
    color: black !important;
}

.line {
    background-color: grey;
    height: 1.5px;
    width: 90%;
}


.list_text_under {
    font-size: 1rem;
    height: 20px;
}


.mobile_on_click_list_item_src {
    background-color: white;
    color: black;
}

.current_dst_connected {
    background-color: forestgreen !important;
    color: white !important;
}

#mobile_cancel_button_div {
    width: 100%;
    display: flex;
    justify-content: center;
}

#mobile_cancel_button {
    position: sticky;
    bottom: 0;
    background-color: firebrick;
    color: white;
    width: 50%;
    height: 4rem;
    font-size: 1.25rem;
}

/** --------------------------------------------------------------------- */
/** --------------------------------------------------------------------- */
/** --------------------------------------------------------------------- */
