body {
    background: #0061b5;
    font-family: Arial, Helvetica, sans-serif;
}

#list_h3 {
    color: white;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    gap: 8.5rem;
    max-width: 420px;
}

#list_div {
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    max-width: 420px;
}

#src_list_container, #dst_list_container {
    max-width: 200px;
    padding: 0;
    display: flex;
    gap: 2rem;
    list-style-type: none;
    display: flex;
    flex-direction: column;
}

.list_text, #dst_list_container li {
    background-color: rgb(40, 75, 124);
    color: white;
    outline: 2px solid rgb(197, 197, 197);
    border-radius: 1%;
    min-height: 100px;
    min-width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
}

.list_text {
    z-index: 1;
}

.src_list_cancel_box {
    background-color: firebrick;
    display: block;
    position: relative;
    left: 50px;
    min-width: 50px;
    min-height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    transition: left .08s ease-in-out;
    overflow: none;
}

.src_list_cancel_box:hover {
    background-color: rgb(98, 19, 19);
    cursor: pointer;
}

.src_ul_container {
    position: relative;
    left: -50px;
    display: flex;
    flex-direction: row;
    list-style-type: none;
    padding: 0;
}

#mobile_cancel_button {
    display: none;
}

@media only screen and (max-width: 980px) and (orientation: portrait)  {

    body {
        /* background-color: rgb(211, 184, 169); */
        background: rgb(51, 138, 252);
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 2rem;
        margin-top: 2rem;
    }

    #list_h3 {
        min-width: 90%;
        display: flex;
        flex-direction: row;
        margin: 0 auto;
        margin-top: 2rem;
        gap: 2.5rem;
        text-align: center;
    }
    
    #list_h3 h3 {
        margin: 1rem;
        min-width: 400px;
    }

    #list_div {
        min-width: 100%;
        justify-content: center;
        gap: 2.5rem;
    }
    #src_list_container, #dst_list_container {
        min-width: 45%;
        overflow: scroll;
        height: 1160px;
    }

    .list_text, #dst_list_container li, #list_h3  {
        min-width: 100%;
        font-size: 4rem;
    }

    .list_text, #dst_list_container li {
        padding: 2rem 0;
    }

    .mobile_on_click_list_item_src, .mobile_on_click_list_item_dst {
        background-color: white !important;
        color: black !important;
    }

    #mobile_cancel_button {
        display: block;
        /* position: fixed; */
        /* left: 1px; */
        /* bottom: 1px; */
        font-size: 4rem;
        background-color: firebrick;
        color: white;
        text-align: center;
        margin: 0 auto;
        min-width: 95%;
        padding: 2rem 0;
        margin-top: 1.5rem;
        text-transform: uppercase;
        z-index: 100;
    }

    .src_list_cancel_box {
        opacity: 0;
        pointer-events: none;
        
    }

}

@media only screen and (min-width: 981px) and (max-width: 3780px) {
    .list_text:hover, #dst_list_container li:hover {
        background-color: white;
        color: rgb(22, 42, 70);
        cursor: pointer;
    }
    
}